body {
    color: #fff;
    background-color: #1a1919;
    margin: 0;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.header {
    background-color: black;
}

.nav-link {
    color: aliceblue;
    text-decoration: none;
    margin: 0 20px;
}
